body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #d1d5da;
    border-radius: 5px;
}

.forgot-password {
    text-align: right;
    margin-top: 5px;
}

.forgot-password a {
    text-decoration: none;
    color: #0366d6;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2ea44f;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    text-decoration: none;
    color: #0366d6;
}

.banner {
    background-color: #007bff; /* Azul */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* display: grid; */
  }
